@import url('https://fonts.googleapis.com/css?family=Roboto+Slab&display=swap');

#board {
    height: 85%;
    width: 95%;
    background: #fff;
    border-radius: 5px;
    display: none;
    flex-direction: row;
    box-shadow:  3px 3px 5px 1px #6a6a6a;
    overflow-x: scroll;
}

body {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #f0f0f0;
    font-family: 'Roboto Slab';
    flex-wrap: wrap;
}

html {
    height: 100%;
}

.column {
    min-width: 200px;
    width: 30%;
    display: flex;
    flex-direction: column;
    position: relative;
}

.story:nth-child(2) {
    margin-top: 3em;
}

.column h1 {
    color: #fff;
    min-height: 30px;
    height: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #495eff;
    position: fixed;
    width: 31.9%;
}

.story {
    width: 90%;
    min-height: 100px;
    max-height: 200px;
    margin: 0% 2%;
    margin-top: 1.5em;
    padding: 1%;
    background: #507ee8;
    border-radius: 5px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    overflow-y: hidden;
    flex-direction: column;
}

.story h2 {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    height: 30%;
    max-height: 25px;
    border-bottom: 1px solid #fff;
    width: 100%;
}

.story p {
    font-size: 0.8em;
    padding: 2%;
    color: #fff;
}

#createProject {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
    background: #fff;
    width: 60%;
    min-height: 200px;
    border-radius: 5px;
    box-shadow:  3px 3px 5px 1px #6a6a6a;
}

#createProject h1 {
    background: #495eff;
    color: #fff;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    min-height: 40px;
    height: 10%;
}

#createProject * {
    margin-bottom: 10px;
}
#columns {
    justify-content: flex-start;
    align-items: center;
    width: 70%;
}

#details {
    position: absolute;
    bottom: 10px;
    left: 20px;
    width: 40%;
    min-height: 20%;
    z-index: 5;
    display: none;
    justify-content: center;
    align-items: center;
    background: #fff;
    border-radius: 5px;
    flex-direction: column;
    box-shadow:  3px 3px 5px 1px #6a6a6a;
    padding: 10px;
}

#createStory {

    display: none;
}

.storyButtons {
    width: 100%;
    display: flex;
    justify-content: space-around;
    border-top: 1px solid #fff;
    align-items: center;
}

.blueButton {
    padding: 0.5em;
    background: #495eff;
    color: #fff;
    font-family: 'Roboto Slab';
    border-radius: 5px;
    border: 2px solid #495eff;
}

.blueButton:hover {
    background: #fff;
    color: #495eff;
    transition: 0.5s;
    font-weight: bold;
}



#addStory {
    margin-top: 3%;
}

#details input {
    margin-bottom: 2%;
}

#columnSelect {
    width: 60%;
    height: 30px;
    border: 1px solid #495eff;
    border-radius: 5px;
}

.whiteButton {
    padding: 0.3em;
    background: #fff;
    border: 1px solid #507ee8;
    border-radius: 5px;
    color: #507ee8;
    font-family: 'Roboto Slab';
    font-weight: bold;
    margin: 0.3em 0em;
}

.whiteButton:hover {
    color: #fff;
    background: #507ee8;
    border: 1px solid #fff;
    transition: 0.5s;
    font-weight: 100;
}

#moveStory {
    min-width: 400px;
    position: absolute;
    z-index: 3;
    background: #fff;
    box-shadow:  3px 3px 5px 1px #6a6a6a;
    border-radius: 5px;
    display: none;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 0.5em;
    flex-direction: column
}

#moveStory select {
    width: 60%;
    height: 30px;
    border: 1px solid #507ee8;
    border-radius: 5px;
}

.selectLayout {
    border: 2px solid #495eff;
    border-radius: 5px;
    width: 40%;
    height: 30px;
    font-family: 'Roboto Slab';
    font-weight: 700;
    color: #495eff;
}

#moveStory h1 {
    margin-bottom: 0.9em;
}

#moveStoryBtn {
    margin-top: 1em;
}

.closeBtn {
    position: absolute;
    top: 0px;
    right: 0px;
    font-family: 'Roboto Slab';
    font-weight: bold;
    background: transparent;
    border: none;
    width: 25px;
    height: 25px;
}
